<footer class="c-header">
    <div class="c-header__brand">
        <a href="#" class="o-brand o-brand--horiz-lt">D13 Design, LLC</a>
    </div>
    <div class="c-header__toggle">
        <i class="fa fa-bars"></i>
    </div>
    <nav class="c-header__nav">
        <ul class="c-header__list">
            <li class="c-header__item"><a class="c-header__link" href="#about">about</a></li>
            <li class="c-header__item"><a class="c-header__link" href="#work">work</a></li>
            <li class="c-header__item"><a class="c-header__link" href="#contact">contact us</a></li>
        </ul>
    </nav>
</footer>