$white: #fff;
$black: #000;
$black-light: #333;
$grey-dark: #666;
$grey-med: #c0c0c0;
$grey-light: #eaeaea;
$grey-cool-light: #edf1f6;

$logo-red: #f32626;
$logo-blue: #2687f3;
$logo-purple: #241424;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 100;
$base-line-height: 1.2;
$base-text-color: $black-light;
